/* Color names */
body {
    
    background: radial-gradient(circle, purple, red);
}
form{
    background-color: #f2f2f2;
            padding: 20px;
            margin: auto;
            width: 300px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button{
    background-color: green;
    
}